<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="eurosport.databases" type="com.eurosport.data.ConfigurationHandler, Eurosport.Data" />
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value="AccessKey" />
    <add key="AWSSecretKey" value="SecretKey" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <param name="File" value="C:\\LogsApplicatives\\GameMaster" />
      <param name="AppendToFile" value="true" />
      <param name="datePattern" value=".dd'.log'" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="50MB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="Header" value="[Eurosport Log File (Time|ThreadName|Level|Message)]\r\n" /-->
        <!--param name="Footer" value="[Footer]\r\n" /-->
        <!-- http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html -->
        <!-- removed : %C [%x] -->
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppenderTeam3" type="log4net.Appender.RollingFileAppender">
      <!-- On accepte tout ce qui contient la string "|CRM|"  -->
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[Team #3]" />
        <acceptOnMatch value="true" />
      </filter>
      <param name="File" value="c:\\tmp\\Team3.log" />
      <param name="AppendToFile" value="true" />
      <param name="datePattern" value=".dd'.log'" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="50MB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="Header" value="[Eurosport Log File (Time|ThreadName|Level|Message)]\r\n" /-->
        <!--param name="Footer" value="[Footer]\r\n" /-->
        <!-- http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html -->
        <!-- removed : %C [%x] -->
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n" />
      </layout>
      <!-- On vire tous les messages qui n'ont pas été acceptés -->
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="RollingLogFileAppenderTeam1" type="log4net.Appender.RollingFileAppender">
      <!-- On accepte tout ce qui contient la string "|CRM|"  -->
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[Team #1]" />
        <acceptOnMatch value="true" />
      </filter>
      <param name="File" value="c:\\tmp\\Team1.log" />
      <param name="AppendToFile" value="true" />
      <param name="datePattern" value=".dd'.log'" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="50MB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="Header" value="[Eurosport Log File (Time|ThreadName|Level|Message)]\r\n" /-->
        <!--param name="Footer" value="[Footer]\r\n" /-->
        <!-- http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html -->
        <!-- removed : %C [%x] -->
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n" />
      </layout>
      <!-- On vire tous les messages qui n'ont pas été acceptés -->
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="RollingLogFileAppenderTeam2" type="log4net.Appender.RollingFileAppender">
      <!-- On accepte tout ce qui contient la string "|CRM|"  -->
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="[Team #2]" />
        <acceptOnMatch value="true" />
      </filter>
      <param name="File" value="c:\\tmp\\Team2.log" />
      <param name="AppendToFile" value="true" />
      <param name="datePattern" value=".dd'.log'" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="50MB" />
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="encoding" value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="Header" value="[Eurosport Log File (Time|ThreadName|Level|Message)]\r\n" /-->
        <!--param name="Footer" value="[Footer]\r\n" /-->
        <!-- http://logging.apache.org/log4j/docs/api/org/apache/log4j/PatternLayout.html -->
        <!-- removed : %C [%x] -->
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n" />
      </layout>
      <!-- On vire tous les messages qui n'ont pas été acceptés -->
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
      
      
      <logger name="com.eurosport.logging.Log">
      <level value="Warn" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingLogFileAppenderTeam3" />
      <appender-ref ref="RollingLogFileAppenderTeam1" />
      <appender-ref ref="RollingLogFileAppenderTeam2" />
    </logger>
  </log4net>
  <eurosport.databases>
    <database name="AFP" type="SqlServer2008" connection="Data Source=Server; Initial Catalog=Eacc; Password=password; Persist Security Info=True; User ID=user;" />
  </eurosport.databases>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>